.profile__value {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    background-color: #202020;
    border: none;
    min-width: 75%;
}