.search__input {
    background-color: #2F2F2F;
    border-radius: 40px;
    width: calc(100% - 22px);
    height: 46px;
    padding-left: 22px;
    border: none;
    outline: none;
    margin: 60px 0 41px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
}