.search__input {
    background-color: #2F2F2F;
    border-radius: 40px;
    width: calc(100% - 22px);
    height: 46px;
    padding-left: 22px;
    border: none;
    outline: none;
    margin: 60px 0 41px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    transition: box-shadow 1s;
}

.search__input:focus {
    box-shadow: 1px 0px 10px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 2px 0px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px 0px 10px 0px rgba(255,255,255,0.75);
}

@media screen and (max-width: 900px) {
    .search__input {
        margin-top: 80px;
    }
}

@media screen and (max-width: 650px) {
    .search__input {
        font-size: 11px;
        line-height: 17px;
    }
}