.login__question {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    margin-right: 6px;
}

@media screen and (max-width: 500px) {
    .login__question {
        font-size: 12px;
        line-height: 15px;
    }
}