.technologies__title {
    padding: 100px 0 23px 0;
    border-bottom: 1px solid #DADADA;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
}