.student__avatar {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    margin-top: 66px;
}

@media screen and (max-width: 1000px) {
    .student__avatar {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 750px) {
    .student__avatar {
        margin: 0 auto;
        width: calc(100% - 40%);
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .student__avatar {
        width: 100%;
        height: auto;
    }
}