.menu__close {
    background-color: #202020;
    border: none;
    display: flex;
    justify-content: flex-end;
    margin: 29px 29px 0 0;
    cursor: pointer;
    transition: opacity 0.7s;
}

.menu__close:hover {
    opacity: 0.7;
}