.footer__copyright {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 500px) {
    .footer__copyright {
        margin-top: 18px;
        color: #8B8B8B;
    }
}