.login__nomination {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    margin: 5px 0 10px 0;
}

@media screen and (max-width: 900px) {
    .login__nomination {
        margin: 0 0 10px 0;
    }
}

@media screen and (max-width: 500px) {
    .login__nomination {
        margin-top: 10px;
    }
}