.not-found__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    text-decoration: none;
}

.not-found__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 450px) {
    .not-found__subtitle {
        font-size: 12px;
        line-height: 15px;
    }
}