.about__time {
    background-color: #303030;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 600px) {
    .about__time {
        font-size: 11px;
        line-height: 13px;
    }
}