.footer__reference {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    transition: opacity 0.7s;
}

.footer__reference:hover {
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    .footer__reference {
        margin: 0;
    }
}