.not-found__subtitle {
    margin: 0 0 184px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .not-found__subtitle {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 284px;
    }
}