.student__text {
    max-width: 600px;
}

@media screen and (max-width: 980px) {
    .student__text {
        max-width: 364px;
    }
}

@media screen and (max-width: 750px) {
    .student__text {
        margin: 0 auto;
    }
}