.not-found__title {
    margin: 246px 0 5px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .not-found__title {
        margin: 408px 0 5px 0;
    }
}

@media screen and (max-width: 450px) {
    .not-found__title {
        font-size: 80px;
        line-height: 97px;
        margin: 329px 0 10px 0;
    }
}