.about__all {
    max-width: 550px;
}

.about__all:nth-child(1) {
    padding-right: 40px;
}

@media screen and (max-width: 860px) {
    .about__all:nth-child(1) {
        padding-right: 0;
        margin-bottom: 56px;
    }
}