.search__check {
    padding-left: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .search__check {
        font-size: 11px;
        line-height: 18px;
    }
}