.title__content {
    margin: 0;
    color: #FFFFFF;
    max-width: 626px;
    min-height: 104px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    padding: 50px 0 102px 0;
}