.header__buttom {
    background-color:#3DDC84;
    width: 76px;
    min-height: 32px;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}