.movies__content {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 543px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 735px) {
    .movies__content {
        justify-content: center;
    }
}